<!DOCTYPE html>
<html ng-app>
<head>
    <title>Distributed Caching Example</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/todo.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <h3 class="text-muted">Distributed Caching Example</h3>
        </div>

        <div class="jumbotron">
            <h3>Cache Notifications</h3>
            <p>
                <div class="console"></div>
            </p>
            <h3>To do ...</h3>
            <div ng-controller="TodoCtrl" ng-cloak>
                <span>{{remaining()}} of {{todos.length}} remaining</span>
                [ <a href="" ng-click="archive()">archive</a> ]
                  <ul class="list-group">
                      <li class="list-group-item" ng-repeat="todo in todos">
                          <div class="input-group">
                              <input type="checkbox" style="margin-right: 5px;" ng-model="todo.Done">
                              <span class="done-{{todo.Done}}">{{todo.Text}}</span>
                          </div>
                      </li>
                  </ul>
                <form ng-submit="addTodo()">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="todoText" placeholder="add new todo here">
                                <span class="input-group-btn">
                                    <input class="btn btn-success btn-primary" type="submit" value="add"></input>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </form>
            </div>
        </div>

        <div class="footer">
            <p>&copy; Daniel Kemper 2014</p>
        </div>

    </div>
    <!-- /container -->
</body>

<script src="Scripts/jquery-2.1.0.min.js"></script>
<script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script>
<script src="Scripts/console.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script src="Scripts/jquery.signalR-2.0.2.min.js"></script>
<script src="Scripts/hubs.js"></script>
<script src="Scripts/todo.js"></script>
</html>
